# ✨ Glitter ✨

> UI components + themes for [lipgloss](https://github.com/charmbracelet/lipgloss),
> [glamour](https://github.com/charmbracelet/glamour), and [bubbletea](https://github.com/charmbracelet/bubbletea)

<img src="assets/logo_w_bg.png" width="315" alt="Glitter Logo"><br>

## Setup

```shell
{{.Install}}
```

## Usage

```go
{{.Example}}
```
